@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode by default */
:root {
  --bg-primary: #ffffff;
  --bg-secondary: #fafafa;
  --text-primary: #333333;
}

/* Dark mode overrides */
.dark {
  --bg-primary: #111827;
  --bg-secondary: #1f2937 ;
  /* --bg-secondary: black !important; */
  --text-primary: #ffffff;
}


html,
body {
  margin: 0;
  padding: 0;
}

@layer utility {
  .hide-scrollbar {
    -ms-overflow-style: none;

    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

/* Add this layer to apply smooth scrolling globally */
@layer base {
  html {
    @apply scroll-smooth;
  }
}

.scroll-stabilize {
  will-change: transform;
  transform: translateZ(0);
  /* backface-visibility: hidden; */
}

html {
  transition: background-color 0.8s, color 0.8s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
